#ourHero, #moon, #lowEarthOrbit, #planetEarth, #containerTester::after {
    top:100%;
}

#containerTester::after {
    display:none;
    background:none;
}

body {
    background-position: center 0%;
}