#ourHero, #moon, #lowEarthOrbit, #planetEarth {
    left:50%;
    position: absolute;
    top: 50%;
    transform: translate(0px,0px);
}

#theHeavens,
#theStars {
    height:100%;
    width:100%;
    position:absolute;
    overflow:hidden;
    -webkit-backface-visibility: hidden;
    background-position:center center;
}

.star {
    position: fixed;
    width: 3px;
    height: 3px;
}

.meteor {
    height:2px;
    width:400px;
    background-color:#fff;
    z-index:0;
    position:absolute;
    transform:rotate(-35deg);
    background: -moz-linear-gradient(left,  rgba(255,255,255,0.25) 0%, rgba(30,234,234,1) 3%, rgba(255,255,255,0.25) 6%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0.25)), color-stop(3%,rgba(30,234,234,1)), color-stop(6%,rgba(255,255,255,0.25)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0.25) 0%,rgba(30,234,234,1) 3%,rgba(255,255,255,0.25) 6%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left,  rgba(255,255,255,0.25) 0%,rgba(30,234,234,1) 3%,rgba(255,255,255,0.25) 6%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left,  rgba(255,255,255,0.25) 0%,rgba(30,234,234,1) 3%,rgba(255,255,255,0.25) 6%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,0.25) 0%,rgba(30,234,234,1) 3%,rgba(255,255,255,0.25) 6%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40ffffff', endColorstr='#00ffffff',GradientType=1 );
}

#theClouds {
    width:600px;
    height:600px;
    margin-top:-300px;
    margin-left:-300px;
    background-image:url("../img/cloud_ring.png");
    background-size:600px 600px;
    position:absolute;
    left:50%;
    opacity:0.6;
    display:none;
}

#planetEarth {
    width:390px;
    height:390px;
    margin-left:-195px;
    margin-top:-195px;
    background-image:url("../img/earth.png");
    background-size:390px;
}

#planetEarth > a {
    margin:0 auto;
    position:absolute;
    display:block;
    cursor:pointer;
}

#moon {
    width:900px;
    height:900px;
    margin-left:-450px;
    margin-top:-450px;
    background-image:url("../img/moon.gif");
    background-size:125px 125px;
    background-repeat:no-repeat;
    background-position:bottom left;
    -webkit-animation: spinR 360s infinite linear;
}

#lowEarthOrbit {
    width:600px;
    height:600px;
    margin-left:-300px;
    margin-top:-300px;
    background-size:600px 600px;
    -webkit-animation: spin 180s infinite linear;
}

#spaceShuttle {
    width:75px;
    height:40px;
    left:125px;
    position:absolute;
    background-image:url("../img/spaceshuttle.gif");
    background-size:75px 40px;
}

#iss {
    width: 150px;
    height: 139px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    background-image: url("../img/iss.gif");
    background-size: 150px 139px;
}

#ourHero {
    width:42px;
    height:76px;
    margin-top:-261px;
    margin-left:-21px;
    background-size:42px 76px;
    z-index:1;
}

#ourHero > #status {
    width:50px;
    height:50px;
    top:-45px;
    right:-30px;
    background-image:url("../img/hearts.gif");
    position:absolute;
    display:none;
    transform:rotate(8deg);
    -ms-transform:rotate(8deg);
    -webkit-transform:rotate(8deg);
}

#ourHero.walking {
    background-image:url("../img/ash_walking.gif");
    width:38px;
    background-size:38px 76px;
}

#ourHero.standing {
    background-image:url("../img/ash_standing.gif");
}

#ourHero.flipped {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#computers {
    width:60px;
    height:60px;
    bottom:-20px;
    left:125px;
    background-image:url("../img/computer.gif");
    background-size:60px 60px;
    -ms-transform: rotate(186deg);
    -webkit-transform: rotate(186deg);
    transform: rotate(186deg);
}

#nature {
    width:120px;
    height:77px;
    top:-4px;
    background-image:url("../img/mountain.png");
    background-size:120px 77px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#games {
    width:62px;
    height:48px;
    top:60px;
    right:20px;
    background-image:url("../img/snes.png");
    background-size:62px 48px;
    -ms-transform: rotate(55deg);
    -webkit-transform: rotate(55deg);
    transform: rotate(55deg);
}

#sheri {
    width:34px;
    height:70px;
    top:165px;
    right:-42px;
    background-image:url("../img/sheri_standing.gif");
    background-size:34px 70px;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

#cars {
    width:79px;
    height:28px;
    top:-11px;
    right:116px;
    background-image:url("../img/fiero.png");
    background-size:79px 28px;
    -ms-transform: rotate(19deg);
    -webkit-transform: rotate(19deg);
    transform: rotate(19deg);
}

#containerTester {
    width:100%;
    height:100%;
    position:absolute;
}

#containerTester::after {
    content:"";
    height:378px;
    width:60%;
    top:50%;
    margin-left:-10%;
    margin-top:-189px;
    position:absolute;
    overflow:hidden;
    -webkit-backface-visibility: hidden;
    background-position:center center;
    pointer-events:none;
    transform:rotate(-35deg);
    -ms-transform-origin: 100%;
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
    background: -moz-linear-gradient(left,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 97%, rgba(0,0,0,0) 99%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.5)), color-stop(97%,rgba(0,0,0,0.5)), color-stop(99%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 97%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(left,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 97%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(left,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 97%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to right,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 97%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=1 );
}