#ourHero, #moon, #lowEarthOrbit, #planetEarth {
	left:50%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

#theHeavens,
#theStars {
    height:100%;
    width:100%;
    position:absolute;
    min-height:600px;
    overflow:hidden;
    -webkit-backface-visibility: hidden;
    background-position:center center;
}

.star {
	position: fixed;
	width: 5px;
	height: 5px;
	background-color: #fff;
}

#theClouds {
    width:600px;
    height:600px;
    margin-top:-300px;
    margin-left:-300px;
    background-image:url("../img/cloud_ring.png");
    background-size:600px 600px;
    position:absolute;
    left:50%;
    opacity:0.6;
    display:none;
}

#theHeavens {
    background-image:url("../img/htmlbg.png");
	background-size:1920px 1920px;
}

#planetEarth {
    width:400px;
    height:400px;
	margin-left:-200px;
	margin-top:-200px;
    background-image:url("../img/earth.png");
    background-size:400px;
    transform:rotate(-4000deg);
    -ms-transform:rotate(-4000deg);
    -webkit-transform:rotate(-4000deg);
}

#planetEarth > a {
    margin:0 auto;
    position:absolute;
    display:block;
    cursor:pointer;
}

#moon {
    width:900px;
    height:900px;
	margin-left:-450px;
	margin-top:-450px;
    background-image:url("../img/moon.gif");
    background-size:100px 96px;
    background-size:100px 96px;
	background-repeat:no-repeat;
	background-position:bottom left;
	-webkit-animation: spinR 360s infinite linear;
}

#lowEarthOrbit {
    width:600px;
    height:600px;
	margin-left:-300px;
	margin-top:-300px;
    background-size:600px 600px;
	-webkit-animation: spin 180s infinite linear;
}

#spaceShuttle {
    width:75px;
    height:40px;
    left:125px;
    background-image:url("../img/spaceshuttle.gif");
    background-size:75px 40px;
}

#iss {
	width: 150px;
	height: 139px;
	right: 0px;
	bottom: 0px;
	position: absolute;
	background-image: url("../img/iss.gif");
	background-size: 150px 139px;
}

#ourHero {
    width:42px;
    height:76px;
    margin-top:-228px;
    margin-left:-21px;
    background-size:42px 76px;
    z-index:1;
}

#moon, #lowEarthOrbit {
	opacity: 0.75;
}

#ourHero > #status {
    width:50px;
    height:50px;
    top:-45px;
    right:-30px;
    background-image:url("../img/hearts.gif");
    position:absolute;
    display:none;
    transform:rotate(8deg);
    -ms-transform:rotate(8deg);
    -webkit-transform:rotate(8deg);
}

#ourHero.walking {
    background-image:url("../img/ash_walking.gif");
	width:38px;
	background-size:38px 76px;
}

#ourHero.standing {
    background-image:url("../img/ash_standing.gif");
}

#ourHero.flipped {
    -moz-transform: scaleX(-1) translateY(-50%);
    -o-transform: scaleX(-1) translateY(-50%);
    -webkit-transform: scaleX(-1) translateY(-50%);
    transform: scaleX(-1) translateY(-50%);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#computers {
    width:60px;
    height:60px;
    bottom:-20px;
    left:125px;
    background-image:url("../img/computer.gif");
    background-size:60px 60px;
}

#nature {
    width:120px;
    height:77px;
    top:-4px;
    background-image:url("../img/mountain.png");
    background-size:120px 77px;
}

#games {
    width:62px;
    height:48px;
    top:60px;
    right:20px;
    background-image:url("../img/snes.png");
    background-size:62px 48px;
}

#sheri {
    width:34px;
    height:70px;
    top:165px;
    right:-42px;
    background-image:url("../img/sheri_standing.gif");
    background-size:34px 70px;
}

#cars {
    width:79px;
    height:28px;
    top:-11px;
    right:116px;
    background-image:url("../img/fiero.png");
    background-size:79px 28px;
}

.meteor {
    width:180px;
    height:4px;
    z-index:0;
    background-image:url("../img/meteors.gif");
    background-size:180px 4px;
    -webkit-transform:rotate(-45deg);
    position:absolute;
}