@font-face {
    font-family: 'ostrich_sansmedium';
    src: url('../assets/ostrich-regular-webfont.eot');
    src: url('../assets/ostrich-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/ostrich-regular-webfont.woff') format('woff'),
         url('../assets/ostrich-regular-webfont.ttf') format('truetype'),
         url('../assets/ostrich-regular-webfont.svg#ostrich_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    background-repeat:no-repeat;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    -webkit-backface-visibility: hidden;
}

html {
    background-color:#0C0215;
}

body, html {
    overflow: hidden;
    min-height:600px;
}

a:focus {
    background-color:#8f8fff;
}

#verticalCenter {
    position:relative;
    top:50%;
    height:0px;
    overflow:visible;
}

#infoPanel {
	position: relative;
	height: 600px;
	width: 400px;
	border: 1px solid rgb(255, 0, 255);
	margin-left: 96px;
	top: -100px;
	display:none;
	opacity:0;
	background-color:#c0c0c0;
}

#infoPlate {
    position:absolute;
    z-index:1;
    left:0px;
    top:0px;
    margin:0px;
    padding:0px;
    color:#9BB;
    font-size:62px;
    line-height:62px;
    font-family:'ostrich_sansmedium';
    /*text-shadow: 3px 2px #E08, -3px -1px #C86;*/
}

#contactInfo {
    position:absolute;
    bottom:0px;
    right:0px;
    padding:3px;
    background-color:#575757;
    font-size:11px;
    text-align:center;
    border: 1px solid #545454;
    border-radius: 5px 0px 0px 0px;
    -moz-border-radius: 5px 0px 0px 0px;
    -webkit-border-radius: 5px 0px 0px 0px;
}

#contactInfo > a {
    color:#858585;
    text-decoration:none;
}

#contactInfo > a:hover
{
    text-decoration:underline;
    color:#999;
    background-color:#afafaf;
}

#interestContents {
    display:none;
}

#debugCol {
    position:absolute;
    display:none;
    z-index:1000;
    overflow:scroll;
    height:100%;
    width:200px;
    background-color:#AFAFAF;
}




.zoomIn{
    -webkit-animation-name: zoomInX;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode: forwards;
    -moz-animation-name: zoomIn;
    -moz-animation-duration:2s;
    -moz-animation-iteration-count:1;
    -moz-animation-fill-mode: forwards;
}
    
    @-webkit-keyframes zoomInX{
		0% { -webkit-transform: scale(1); margin-top:0px; margin-right:0px; }
		100% { -webkit-transform: scale(2); margin-top:200px; margin-right:400px; }
    }
        
    @-moz-keyframes zoomIn{
		0% { -moz-transform: scale(1); margin-top:0px; margin-right:0px; }
		100% { -moz-transform: scale(2); margin-top:200px; margin-right:400px; }
    }


.zoomOut{
    -webkit-animation-name: zoomOutX;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode: forwards;
    -moz-animation-name: zoomOut;
    -moz-animation-duration:2s;
    -moz-animation-iteration-count:1;
    -moz-animation-fill-mode: forwards;
}
    
    @-webkit-keyframes zoomOutX{
		0% { -webkit-transform: scale(2); margin-top:200px; margin-right:400px; }
		100% { -webkit-transform: scale(1); margin-top:0px; margin-right:0px; }
    }
        
    @-moz-keyframes zoomOut{
		0% { -moz-transform: scale(2); margin-top:200px; margin-right:400px; }
		100% { -moz-transform: scale(1); margin-top:0pxk; margin-right:0px; }
    }