@font-face {
    font-family: 'ostrich_sansmedium';
    src: url('../assets/ostrich-regular-webfont.eot');
    src: url('../assets/ostrich-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/ostrich-regular-webfont.woff') format('woff'),
         url('../assets/ostrich-regular-webfont.ttf') format('truetype'),
         url('../assets/ostrich-regular-webfont.svg#ostrich_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    background-repeat:no-repeat;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    -webkit-backface-visibility: hidden;
}

html {
    background-color:#0e0318;
}

body, html {
    overflow: hidden;
    min-height:600px;
	height:100%;
}

a:focus {
    background-color:#8f8fff;
}
		
#infoPanel {
	position: relative;
	height: 600px;
	width: 400px;
	border: 1px solid rgb(255, 0, 255);
	margin-left: 96px;
	top: -100px;
	display:none;
	opacity:0;
	background-color:#c0c0c0;
}

#infoPlate {
    position:absolute;
    z-index:1;
    left:0px;
    top:0px;
    margin:0px;
    padding:0px;
    color:#9BB;
    font-size:62px;
    line-height:62px;
    font-family:'ostrich_sansmedium';
    /*text-shadow: 3px 2px #E08, -3px -1px #C86;*/
}

#contactInfo {
    position:absolute;
    bottom:0px;
    right:0px;
    padding:3px;
    background-color:#575757;
    font-size:11px;
    text-align:center;
    border: 1px solid #545454;
    border-radius: 5px 0px 0px 0px;
    -moz-border-radius: 5px 0px 0px 0px;
    -webkit-border-radius: 5px 0px 0px 0px;
}

#contactInfo > a {
    color:#858585;
    text-decoration:none;
}

#contactInfo > a:hover
{
    text-decoration:underline;
    color:#999;
    background-color:#afafaf;
}

#interestContents {
    display:none;
}

#debugCol {
    position:absolute;
    display:none;
    z-index:1000;
    overflow:scroll;
    height:100%;
    width:200px;
    background-color:#AFAFAF;
}
	
@-webkit-keyframes spin {
	0%   {-webkit-transform: rotate(360deg)}
	100% {-webkit-transform: rotate(0deg)}
}

@-webkit-keyframes spinR {
	0%   {-webkit-transform: rotate(0deg)}
	100% {-webkit-transform: rotate(360deg)}
}