@import "variables";

#moon, #lowEarthOrbit, #ourHero, #planetEarth, #theStars {
    /* this works but I'd prefer define the svg elsewhere? filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'darken\'><feComponentTransfer><feFuncR type=\'linear\' slope=\'1\' intercept=\'-1\'/><feFuncG type=\'linear\' slope=\'1\' intercept=\'-1\'/><feFuncB type=\'linear\' slope=\'1\' intercept=\'-1\'/></feComponentTransfer></filter></svg>#darken"); */
    /* this works but I'd prefer a function. filter: url(../darken.svg#darken); */
    /* IE?: http://www.majas-lapu-izstrade.lv/cross-browser-grayscale-image-example-using-css3-js/ */
}

#theHeavens {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

#theHeavens,
#theStars {
    position:absolute;
    overflow:hidden;
    .fill;
}

#theStars {
    z-index: 0;
}

.star {
    position: absolute;
    width: 3px;
    height: 3px;
}

.meteor {
    height:2px;
    width:400px;
    z-index:0;
    position:absolute;
    background: -moz-linear-gradient(left,  rgba(255,255,255,0.25) 0%, rgba(30,234,234,1) 3%, rgba(255,255,255,0.25) 6%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0.25)), color-stop(3%,rgba(30,234,234,1)), color-stop(6%,rgba(255,255,255,0.25)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0.25) 0%,rgba(30,234,234,1) 3%,rgba(255,255,255,0.25) 6%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left,  rgba(255,255,255,0.25) 0%,rgba(30,234,234,1) 3%,rgba(255,255,255,0.25) 6%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left,  rgba(255,255,255,0.25) 0%,rgba(30,234,234,1) 3%,rgba(255,255,255,0.25) 6%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,0.25) 0%,rgba(30,234,234,1) 3%,rgba(255,255,255,0.25) 6%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40ffffff', endColorstr='#00ffffff',GradientType=1 );
    .rotate(-35deg);
}

#planetEarth {
    background-image:url("../img/earth.png");
    background-size:390px 390px;
    .rotate(-40deg);
    .hCenter(390);
    .vCenter(390);
}

#planetEarth > a {
    margin:0 auto;
    position:absolute;
    display:block;
    cursor:pointer;
}

#moon {
    background-image:url("../img/moon.gif");
    background-size:125px 125px;
    background-position:bottom left;
    -webkit-animation: spinR 360s infinite linear;
    animation: spinR 360s infinite linear;
    .hCenter(900);
    .vCenter(900);
}

#lowEarthOrbit {
    background-size:600px 600px;
    -webkit-animation: spin 180s infinite linear;
    animation: spin 180s infinite linear;
    .hCenter(600);
    .vCenter(600);
}

#spaceShuttle {
    width:75px;
    height:40px;
    left:125px;
    position:absolute;
    background-image:url("../img/spaceshuttle.gif");
    background-size:75px 40px;
}

#iss {
    width: 150px;
    height: 139px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    background-image: url("../img/iss.gif");
    background-size: 150px 139px;
}

#ourHero {
    width:38px;
    height:76px;
    margin-top: -257px;
    margin-left:-21px;
    background-size:38px 76px;
    z-index:1;
    top: 50%;
    left:50%;
    position: absolute;
    transform: translate(0px,0px);
    cursor:pointer;
}

#ourHero > #status {
    width: 42px;
    height: 42px;
    top: -42px;
    right: -27px;
    background-image:url("../img/hearts.gif");
    background-size:42px 42px;
    position:absolute;
    display:none;
    .rotate(8deg);
}

#ourHero.walking {
    width:38px;
    background-image:url("../img/ash_walking.gif");
    background-size:38px 76px;
}

#ourHero.standing {
    width:34px;
    background-image:url("../img/ash_standing.gif");
    background-size:34px 76px;
}

#ourHero.standing-away {
    width:30px;
    background-image:url("../img/ash_standing_away.gif");
    background-size:30px 76px;
    margin-left: -11px;
    transform:rotate(0deg);
}

#ourHero.sitting-camp {
    width:36px;
    background-image:url("../img/ash_sitting_camp.gif");
    background-size:36px 58px;
    margin-left: -26px;
    margin-top: -237px;
    transform:rotate(0deg);
}

#ourHero.sitting-vidya {
    width: 32px;
    background-image: url(../img/ash_sitting_vidya.gif);
    background-size: 32px 58px;
    margin-left: -29px;
    margin-top: -235px;
    transform: rotate(0deg);
}

#ourHero.flipped {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#computers {
    width: 76px;
    height: 62px;
    bottom: -46px;
    left: 127px;
    background-image:url("../img/sprite_desk.png");
    background-size:76px 62px;
    .rotate(186deg);
}

#nature {
    width: 172px;
    height: 98px;
    top: 0px;
    left: -46px;
    .rotate(-46deg);
    background-image:url("../img/mountain.png");
    background-size:172px 98px;
}

#games {
    width:86px;
    height:84px;
    top: -2px;
    right: 0px;
    background-image:url("../img/games.png");
    background-size:86px 84px;
    .rotate(47deg);
}

#sheri {
    width:34px;
    height:70px;
    top:165px;
    right:-38px;
    background-image:url("../img/sheri_standing.gif");
    background-size:34px 70px;
    .rotate(90deg);
}

#topMarginContainer {
    .fill;
    position:absolute;
}

#moon, #lowEarthOrbit, #earthShadow {
    pointer-events:none;
}

#earthShadow {
    display:inline-block;
    height:378px;
    top:50%;
    right:50%;
    margin-top:-189px;
    position:absolute;
    overflow:hidden;
    background-position:center center;
    background: -moz-linear-gradient(left,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 97%, rgba(0,0,0,0) 99%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.5)), color-stop(97%,rgba(0,0,0,0.5)), color-stop(99%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 97%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(left,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 97%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(left,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 97%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to right,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 97%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=1 );
    .rotate(-35deg);
    .origin(1);
}