@import "variables"; 

span, a {
    background-repeat:no-repeat;
    background-repeat:no-repeat;
    transform: translate(0,0);
}

body, html {
    overflow: hidden;
    min-height:600px;
    .fill;
}

html {
    background-color:#0E0318;
}

body {
    background:url("../img/htmlbg.png") no-repeat center center;
}

#infoPanel {
    position: absolute;
    padding:5px 5px;
    display:none;
    color:#fff;
    opacity:0;
    z-index:0;
    .hCenter(300);
    .vCenter(300);
    margin-top:-400px;
}

#infoPlate {
    position:absolute;
    left:0px;
    top:0px;
    color:#9BB;
    font-size:62px;
}

#contactInfo {
    position:absolute;
    bottom:0px;
    right:0px;
    padding:3px;
    background-color:#575757;
    font-size:11px;
    text-align:center;
    border: 1px solid #545454;
    .border-radii(0px 0px 0px 5px);
}

#topMarginContainer {
    position:absolute;
    .fill;
}

#contactInfo > a {
    color:#858585;
    text-decoration:none;
}

#contactInfo > a:hover {
    color:#999;
    text-decoration:underline;
}

#interestContents {
    display:none;
}
    
@-webkit-keyframes spin {
    0% {
        .rotate(360deg);
    }
    100% {
        .rotate(0deg);
    }
}

@-webkit-keyframes spinR {
    0% {
        .rotate(0deg);
    }
    100% {
        .rotate(360deg);
    }
}

#debugCol {
    position:absolute;
    display:none;
    z-index:1;
    overflow:hidden;
    height:100%;
    width:200px;
    background-color:#AFAFAF;
}