@import "variables"; 

@font-face {
    font-family: 'geosanslightregular';
    src: url('../fonts/geosanslight-webfont.eot');
    src: url('../fonts/geosanslight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geosanslight-webfont.woff2') format('woff2'),
         url('../fonts/geosanslight-webfont.woff') format('woff'),
         url('../fonts/geosanslight-webfont.ttf') format('truetype'),
         url('../fonts/geosanslight-webfont.svg#geosanslightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    backface-visibility: hidden;
    image-rendering:-moz-crisp-edges;
    image-rendering:-o-crisp-edges;
    image-rendering:crisp-edges;
    image-rendering:pixelated;
    -ms-interpolation-mode:nearest-neighbor;
    -webkit-font-smoothing: subpixel-antialiased;
}

html {
    font-size: 17px;
    background-color:#0E0318;
    overflow: hidden;
    min-height:600px;
    .fill;
}

@media (max-width: 900px) {
  html { font-size: 15px; }
}

@media (max-width: 400px) {
  html { font-size: 13px; }
}

body {
    background:url("../img/htmlbg.png") no-repeat center center;
    position:relative;
    background-size:80%;
    overflow: hidden;
    min-height:600px;
    .fill;
}

span, a {
    background-repeat:no-repeat;
    background-repeat:no-repeat;
    transform: translate(0,0);
}

.fa {
    font-family: 'FontAwesome';
}

.fa-file-pdf-o {
    font-size:1rem !important;
}

.interestImage  {
    a {
        border:2px solid #fff;
        width:100px;
        height:30px;
        display:inline-block;
        opacity:0.75;
    }
    
    a:hover {
        opacity:1;
    }
    
    img {
        width:100px;
        height:30px;
    }
}

#contactInfo {
    position: absolute;
    top: 0;
    left: 0;
    font-family: geosanslightregular;
    color: #fff;
    margin-top:10px;
    margin-left:10px;
    z-index:1;
    font-size: 2rem;

    >h1 {
        font-size: 1.75em;
        margin-top: 10px;
        margin-bottom: 0px;
        line-height: 60px;
    }
    
    >h3 {
        letter-spacing: 2px;
        font-size: 0.4em;
        margin-top: 5px;
        margin-bottom: 0px;
    }
    
    >a {
        margin-top: 5px;
        display:inline-block;
        margin-right:10px;
        font-size:0.55em;
        text-decoration:none;
        color:#fff;
        opacity:0.75;
    }
    
    >a:hover {
        opacity:1;
    }
}

#infoPanel {
    position: absolute;
    display:none;
    color:#fff;
    opacity:0;
    z-index:4;
    height:350px;
    font-family: 'geosanslightregular';
    .hCenter(600);
    
    >#prev,
    >#next {
        display: block;
        height: 100%;
        width: 50px;
        cursor:pointer;
        font-size:50px;
        opacity:0.1;
    }
    
    >div>#close {
        cursor:pointer;
        float: right;
        margin-top: 2px;
        font-size: 25px;
        opacity:0;
        display:block;
    }

    >#prev {
        background:url("../img/arrowLeft.png") no-repeat center center;
        float: left;
    }
    
    >#next {
        background:url("../img/arrowRight.png") no-repeat center center;
        float: right;
    }
    
    &:hover>#prev,
    &:hover>#next, 
    &:hover>div>#close {
        opacity:0.5;
    }

    >#prev:hover,
    >#next:hover,
    >div>#close:hover {
        opacity:1;
    }
    
    ul {
        float:right;
        margin-top: 4px;
        margin-bottom: 0px;
    }
    
    ul>li {
        list-style:none;
        margin-bottom:5px;
    }
    
    a {
        cursor:pointer;
    }
    
    >div {
        margin-left: 60px;
        margin-right: 60px;
    }
    
    h2 {
        margin:0px;
        font-size:2em;
    }
}

#topMarginContainer {
    position:absolute;
    .fill;
}

#contact {
    font-family: geosanslightregular;
    width: 255px;
    height: 270px;
    display: inline-block;
    position: Absolute;
    top: 38%;
    .hCenter(255);
    color:#fff;
    opacity:0;
    
    >label {
        width:45px;
        display:inline-block;
    }
    
    >input {
        background-color: #080808;
        border: 1px solid #252525;
        width:187px;
        margin-bottom:10px;
        color:#fff;
        font-family: 'geosanslightregular';
    }

    >span {
        color:#fff;
        font-size:30px;
    }
    
    >textarea {
        background-color: #080808;
        border: 1px solid #252525;
        resize: none;
        width: 185px;
        height:155px;
        color:#fff;
        font-family: 'geosanslightregular';
    }
    
    >.fa-rocket {
        float: right;
        margin-top: 10px;
        margin-right: 20px;
        color:#414141;
    }

    >.fa-rocket:hover {
        color:#fff;
        cursor:pointer;
    }
}

#debugCol {
    position:absolute;
    display:none;
    z-index:1;
    overflow:hidden;
    height:100%;
    width:200px;
    background-color:#AFAFAF;
}