@import "variables"; 
* {
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    image-rendering:-moz-crisp-edges;          /* Firefox        */
    image-rendering:-o-crisp-edges;            /* Opera          */
    image-rendering:crisp-edges;               /* CSS4 Proposed  */
    image-rendering:pixelated;                 /* CSS4 Proposed  */
    -ms-interpolation-mode:nearest-neighbor;   /* IE8+ */
    -webkit-font-smoothing: subpixel-antialiased;
}
span, a {
    background-repeat:no-repeat;
    background-repeat:no-repeat;
    transform: translate(0,0);
}

body, html {
    overflow: hidden;
    min-height:600px;
    .fill;
}

html {
    background-color:#0E0318;
}

body {
    background:url("../img/htmlbg.png") no-repeat center center;
    opacity:0;
    position:relative;
}

@font-face {
    font-family: 'geosanslightregular';
    src: url('../fonts/geosanslight-webfont.eot');
    src: url('../fonts/geosanslight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geosanslight-webfont.woff2') format('woff2'),
         url('../fonts/geosanslight-webfont.woff') format('woff'),
         url('../fonts/geosanslight-webfont.ttf') format('truetype'),
         url('../fonts/geosanslight-webfont.svg#geosanslightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#contactInfo {
    position: absolute;
    top: 0;
    left: 0;
    font-family: geosanslightregular;
    color: #fff;
    margin-top:10px;
    margin-left:10px;
    z-index:1;
}

#contactInfo h1 {
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 60px;
}

#contactInfo h3 {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#infoPanel {
    position: absolute;
    display:none;
    color:#fff;
    opacity:0;
    z-index:4;
    height:300px;
    font-family: 'geosanslightregular';
    .hCenter(600);
}

#infoPanel>#prev,
#infoPanel>#next {
    display: block;
    height: 100%;
    width: 50px;
    cursor:pointer;
    font-size:50px;
    opacity:0;
}

#infoPanel>#prev {
    background:url("../img/arrowLeft.png") no-repeat center center;
    float: left;
}

#infoPanel>#next {
    background:url("../img/arrowRight.png") no-repeat center center;
    float: right;
}

#infoPanel:hover>#prev,
#infoPanel:hover>#next {
    opacity:0.5;
}

#infoPanel>#prev:hover,
#infoPanel>#next:hover {
    opacity:1;
}

#infoPanel>div {
    margin-left: 50px;
    margin-right: 50px;
}

#topMarginContainer {
    position:absolute;
    .fill;
}

.interestImage a {
    border:1px solid #ff00ff;
    width:100px;
    height:30px;
}

.interestImage img {
    width:100px;
    height:30px;
}
    
@-webkit-keyframes spin {
    0% {
        .rotate(360deg);
    }
    100% {
        .rotate(0deg);
    }
}

@-webkit-keyframes spinR {
    0% {
        .rotate(0deg);
    }
    100% {
        .rotate(360deg);
    }
}

#debugCol {
    position:absolute;
    display:none;
    z-index:1;
    overflow:hidden;
    height:100%;
    width:200px;
    background-color:#AFAFAF;
}